@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: system-ui, -apple-system, 'Segoe UI',  'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    font-weight: 500;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(4, 1, 1);
    transition: background-color 0.5s ease-in-out 0s;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
    flex-direction: column;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 100px;
    background-color:  #f39c12;
    border-radius: 8px;
    margin-bottom: 20px;
    z-index: 100;

}

.pomofocus {
    font-size: 32px;
    text-decoration: none;
    font-weight: 700;
}

.pomofocus:hover {
    color: #ddc398; /* Mudar a cor ao passar o mouse */
    
}

.nav-links {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Estilo para cada item da lista de links */
.nav-links li {
    margin-right: 20px; /* Espaçamento entre os itens */
}

.nav-links li a {
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

/* Estilo para os links ao passar o mouse */
.nav-links li a:hover {
    color: #ddc398; /* Mudar a cor ao passar o mouse */
    
}

.main-content {
    display: flex;
    gap: 70px; /* Espaçamento entre as colunas */
    width: 100%;
    max-width: 1200px; /* Limitar a largura do contêiner */
    justify-content: center; /* Centralizar o conteúdo */
    align-items: flex-start; /* Centralizar verticalmente */
    margin-top: 100px;
   
}

/* Centraliza o conteúdo na tela */
.pomodoro-container {
    background-color: #FDF5E6;
    border-radius: 8px;
    padding: 20px;
    flex: 1; /* Permitir que o contêiner cresça */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    border: 2px solid #f39c12;
}

.pomodoro-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
    gap: 15px;
}

.mode-indicator {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}


.timer {
    font-size: 120px;
    margin: 20px 0;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100%; /* Ocupa 100% da largura do contêiner */
    max-width: 480px; /* Largura máxima para manter o tamanho do fundo transparente */
    
}

.btn {
    padding: 10px 20px;
    font-size: 22px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 130px;
    text-align: center;
}

.btn:hover {
    background-color: #555;
    color: white;
    
}


.btn-pomodoro {
    padding: 10px 20px;
    font-size: 22px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color:   #f39c12; /* Nova cor para destacar */
    color: white; /* Cor do texto */
    

}


.btn-pomodoro:hover {
    background-color: #555;
    color: white;
}


.short-break-btn {
    background-color: #f39c12; /* Azul */
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.long-break-btn {
    background-color:  #f39c12; /* Roxo */
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.start-btn {
    background-color: green; /* Verde */
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pause-btn {
    background-color: red; /* Laranja */
    color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-pause-btn {
    background-color: #f39c12;
    color: white;
    padding: 10px 20px;
    font-size: 22px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 130px;
    text-align: center;
}


.btn-pause-btn:hover {
    background-color: #555;
    color: white;
}

.add-time-btn {
    background-color:  #2196F3; /* Azul */
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.quadro-header {
    background-color: #f39c12;
    padding: 10px 20px;
    box-shadow: 0px 2px 4px rgba(176, 123, 26, 0.1);
    z-index: 1;
    border-radius: 8px;
    position: sticky;
    top: 0;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    border: 3px solid #e5d1d1;
}

.quadro-tasks {
    overflow-y: auto;
    height: 400px; /* Definir a altura fixa */
    width: 600px; /* Definir a largura fixa */
    background-color: #FDF5E6;
    border-radius: 8px;
    padding: 20px;
    border: 1px solid #e5d1d1;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}



.tarefas {
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    color: white;
}


.nova-tarefa {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    width: auto; /* Remova a largura definida */
    margin-bottom: 10px; /* Adicione margem inferior para separação */
   
}

.nova-tarefa:hover {
    background-color: #07540a;
}

.task-list {
    list-style-type: none;
    padding: 0;
    width: 100%; /* Ocupar 100% da largura disponível */
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #7d7575;
    padding: 15px 0;
}


.task-item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}


.task-details {
    flex: 1;
    flex-direction: column;
    font-size: 25px;
}

.task-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.task-actions {
    display: flex;
    gap:30px;
}

.task-action {
    text-decoration: none;
    font-size: 20px;
    padding: 4px 10px;
    border-radius: 5px;
    background-color: #2196F3;
    color: white;
    transition: background-color 0.3s;
}

.task-action:hover {
    background-color: #0D47A1;
}

.task-description {
    font-size: 14px;
    color: #666666;
    margin-top: 8px;
}


.break-controls {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}


.button-container {
    margin: 10px;
    display: flex;
}
















