@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #FFBE10;
    min-height: 100vh;
    width: 100%;
    color: rgb(4, 1, 1);
    transition: background-color 0.5s ease-in-out 0s;
    padding-bottom: 12px;
    box-sizing: border-box;
    padding-top: env(safe-area-inset-top);
    font-family: 'ArialRounded', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 32px;
    font-weight: 500;
}

.quadro-tasks {
    max-width: 480px;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 500px;
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    

}


